.about {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #fff;
    &__img--box {
        max-width: 100%;
        height: 400px;
        margin: auto;
     img {
         width: 100%;
         object-fit: contain;
     }           
    }
    &__content {
        font-size: 2rem;
        font-weight: 400;
        color: #333;
        padding: 2rem 0;
        text-align: justify;

    }
}