.news-section {
    position: relative;
    width: 100%;
    background: #fff;
    &__view--all {
        display: flex;
        justify-content: center;
        @media (min-width: $md) {
            justify-content: flex-start;
        }
        @media (min-width: $lg) {
            justify-content: center;
        }
        margin: auto;
        margin-top: 3rem;
        text-align: center;
        a {
            padding: .5rem 2rem;
            background: #028FCD;
            font-size: 2rem;
            color: #fff;
            letter-spacing: 2;
            font-weight: 200;
            text-decoration: none;
            transition: .5s;
            @media (min-width: $md) {
                padding: 1rem 3rem;
            }
        }
        &:hover {
            a {
                background: #007491;
            }
        }
    }
    &__grid {
        gap: 2re;
        position: relative;
        background: #fff;
        border-radius:  .5rem;
        overflow: hidden;
        box-shadow: 0 1rem 3rem 0 rgba(50, 50, 50, 0.16);
        margin-bottom: 3.5rem;
        &:hover .news-section__grid-box {
            left: 15px;
            transition: .5s;
        }
        &:hover .news-section__grid-img img {
            filter: grayscale(1);
            transform: scale(1.1);
            transition: .5s;
        }
        &:hover .news-section__grid-txt {
            text-decoration-line: none;
            color: #fff;
            transition: .5s;
            a.understrap-read-more-link {
                background: #028FCD;
                color: #fff;
            }
        }
    }
    &__grid-img {
        width: 100%;
        height: 280px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .5s;
        }
    }
    &__grid-box {
        display: block;
        position: absolute;
        text-align: center;
        background: #028FCD;
        left: -80px;
        top: 15px;
        padding: 10px;
        transition: .5s;

        h1 {
            color: #fff;
            font-size: 3rem;
            letter-spacing: .2rem;
            padding-bottom: .5rem;
            border-bottom: 1px solid rgba(255,255,255,.3);
            margin-bottom: .5rem;
        }
        p {
            color: #fff;
            font-size: 1.4rem;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    &__grid-txt {
        padding: 2.5rem;

        span {
            color: #999;
            font-size: 10px;
            font-weight: 500;
            letter-spacing: .1rem;
            text-transform: uppercase;
        }
        h2 {
            color: #028FCD;
            font-size: 22px;
            font-weight: 500;
            margin: 1rem 0 .5rem 0;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                list-style: none;
                display: inline-block;
                color: #999;
                font-size: 14px;
                font-weight: 300;
                margin: .8rem 1rem .8rem 0;
                text-transform: capitalize;
                i {
                    color: #028FCD;
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin-right: .5rem;
                }
            }
        }
        p {
            color: #333;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.7;
            padding: 15px 0;
            margin: 0;
        }
        p:last-child {
            margin: 0;
            a.understrap-read-more-link {
                color: #028FCD;
                background: transparent;
                padding: .8rem 2rem;
                border-radius: 1px;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 170%;
                letter-spacing: .1rem;
                text-decoration: none;
                transition: .5s;
                text-transform: uppercase;
                border-color: none !important;
                outline: none !important;
                border: 2px solid #028FCD;
            }
        }
        @media (min-width: $lg) {
            h2 {
                font-size: 20px;
                font-weight: 400;
            }
            p {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}