.wrapper {
    position: relative;
    background: #fff;
    padding: 0;
    // margin: 51.76px 0 0;
    @media (min-width: 992px) {
        // margin: 82.12px 0 0;
    }
    #right-sidebar {
        margin: 0px 20px 50px;
        
        label {
            display: none;
        }
        input.wp-block-search__input {
            padding: 10px;
            font-size: 20px;
            outline: none;
        }
        button.wp-block-search__button {
            background: #1e22aa;
            transition: .3s;
            color: #fff;
            font-size: 20px;
            padding: 0px 20px;
            &:hover {
                background: #974555;
            }
      
        }
        #block-10 {
            h1{
                font-size: 2rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #444;
            }
        }
        #dpe_fp_widget-2 {
            position: relative;
            margin-top: 2.5rem ;
            margin-bottom: 4rem;
            h3 {
                font-size: 2rem;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: #444;
            }
            ul.dpe-flexible-posts {
                margin-top: 2.5rem;
                li {
                    list-style: none;
                    margin-bottom: 1.2rem;
                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: #333;
                        transition: .3s;
                        &:hover {
                            color: #1e22aa;
                        }
                        img {
                            width: 70px;
                            object-fit: contain;
                            margin-right: 2rem;
                        }
                    }
                }
            }
        }
        @media (min-width: 768px) {  

            margin: 10rem 0 0 0;
            padding: 0;

            button.wp-block-search__button {
                font-size: 1.2rem;
                padding: 0px 13px;
                text-transform: uppercase;
            }
            input.wp-block-search__input {
                font-size: 1rem;
            }
        }
        @media (min-width: 992px) {
            margin: 10rem 0;
            input.wp-block-search__input {
                font-size: 1.5rem;
            }
            button.wp-block-search__button {
                font-size: 1.5rem;
            }
        }
    }
    #main {
        margin-bottom: 50px;
        margin-right: 0;
        margin-left: 0;

        img.wp-post-image {
            width: 100%;
            object-fit: contain;
        }

        margin-top: 100px;
        background: #fff;
        
        .entry-header {
            padding: 1.6rem 0 1rem;
            margin-bottom: 30px;
            h1 {
                font-size: 3rem;
            }
            .entry-meta {
                font-size: 1.6rem;
            }
        }
        .entry-content {
            padding:  20px 0 10px;
            font-size: 1.6rem;
            line-height: 2;
            font-weight: 300;
            @media (min-width: $lg) {
                font-size: 1.8rem;
            }
        }
        .entry-footer {
            padding: 20px 0 40px;
            .edit-link {
                a {
                    text-decoration-line: none;
                    outline: none;
                    padding: 10px 20px;
                    background: #1e22aa;
                    color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 700;
                    transition: .3s;

                    &:hover {
                        background: #c73551;
                    }
                }
            }
        }
        .post-navigation {
            padding: 20px 0 40px;
            .nav-previous {
                a {
                    color: #333;
                    font-size: 20px;
                }
            }
            .nav-next {
                a {
                    font-size: 20px;
                    color: #333;
                }
            }
        }
        @media (min-width: 992px) {
            margin-bottom: 10rem;
        }
    }
}