#contact-info-container {
    position: relative;
    .contact-card {
        .row {
            gap: 20px;
            @media (min-width: $md) {
                gap: initial;
            }
        }
        .card {
            padding: 20px;
            margin: 0;
            width: 100%;
            border: 2px solid #028FCD;
            @media (min-width: $md) {
                width: 90%;
                margin: auto;
            }
            @media (min-width: $lg) {
                width: 100%;
                height: 200px;
            }
            h1 {
                color: #028FCD;
                font-weight: 600;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                color: #333;
            }
            .opening-schedule {
                color: #028FCD;
                font-size: 16px;
                font-weight: 600;
            }
            .card-info {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 16px;
                        color: #333;
                        &:first-child {
                            margin-right: 10px;
                        }
                        i {
                            font-size: 20px;
                            color: #028FCD;
                        }
                        a {
                            text-decoration: none;
                        }
                    }
                }
                li + li {
                    margin-top: 10px;
                }
            }
        }
    }
}