// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	
}
html {
	scroll-behavior: smooth;
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
}
body {
	position: relative;
}
// end...
.aven-section-title {
	position: relative;
	margin: 0 0 6rem;
	h1 {
		font-weight: 700;
		font-size: 35px;
		text-transform: uppercase;
		color: #028FCD;
		display: inline;
		position: relative;

	}
	p {
		font-size: 1.4rem;
	}
}
.aven-section-padding {
	position: relative;
	padding: 5rem 1rem 10rem;
	width: 100%;
}

section.fullpage {
	@media (min-width: 992px) {
		display: grid;
		place-items: center;
	}
}